

name: CI - Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

env:

  IMAGE_NAME: ghcr.io/abdur201/docker-test

jobs:
  build-and-push:
    runs-on: [self-hosted,abdu-vm]
    permissions:
      contents: read
      packages: write 

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64, linux/arm64
          tags: ${{ env.IMAGE_NAME }}:latest
